div.base {
    text-align:center; 
    color:black;
    margin-left: 40%;
    margin-right: 40%;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
};
